

.btn{
    background: rgb(0, 165, 74);
    color: #fff;
    padding: 10px;
    margin: 20px;
    border: none;
    font-size: 20px;
    text-decoration: none;
}

body{
    padding: 30px;
    color:#fff;
    background: #6e6e6e;

}